@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-display: swap;
  color: #265ca5;
  font-weight: 300;
  line-height: 1.4; }

.container {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: [navigation-start] max-content [navigation-end rowOne-start] 1fr [rowOne-end footer-start] min-content [footer-end];
  grid-template-columns: [sidebar-start] 25% [sidebar-end main-start] 1fr [main-end];
  min-height: 100vh; }
  @media screen and (min-width: 1400px) {
    .container {
      grid-template-columns: [sidebar-start] 18% [sidebar-end main-start] 1fr [main-end];
      grid-template-rows: [navigation-start] max-content [navigation-end rowOne-start] minmax(100vh, 1fr) [rowOne-end footer-start] min-content [footer-end]; } }

.card {
  background-image: linear-gradient(111.4deg, rgba(43, 92, 157, 0.75) 1%, rgba(18, 70, 138, 0.75) 58%), url(../img/image-1.jpg);
  background-size: cover;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px 35px 5px 35px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px; }

.card-white {
  background-image: linear-gradient(111.4deg, rgba(255, 255, 255, 0.75) 1%, rgba(238, 241, 246, 0.75) 58%), url(../img/image-1.jpg);
  background-size: cover;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px 35px 5px 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.modal {
  padding: 2rem 6rem;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 100rem;
  height: max-content;
  z-index: 10000;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out; }
  @media only screen and (max-width: 45.7em) {
    .modal {
      padding: 6rem 2rem; } }
  .modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .2s; }

.main.blur,
.sidebar.blur {
  backdrop-filter: blur(1px);
  filter: blur(1px); }

.main.blur::before,
.sidebar.blur::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 2222222; }

@media only screen and (max-width: 50.3em) {
  .sidebar.blur {
    backdrop-filter: blur(0px);
    filter: none; } }

@media only screen and (max-width: 50.3em) {
  .sidebar.blur::before {
    background-color: none; } }

.hero-btn-dark,
.hero-btn-light,
.hero-btn-dark_square {
  background-color: #12468a;
  color: #fff;
  font-size: 1.05rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 5rem;
  transition: all 0.5s;
  border: none;
  box-shadow: inset 0 0 0 1px #d4deed; }
  .hero-btn-dark:not(:last-child),
  .hero-btn-light:not(:last-child),
  .hero-btn-dark_square:not(:last-child) {
    margin-right: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .hero-btn-dark:not(:last-child),
      .hero-btn-light:not(:last-child),
      .hero-btn-dark_square:not(:last-child) {
        margin-bottom: 1.5rem; } }
  .hero-btn-dark:hover,
  .hero-btn-light:hover,
  .hero-btn-dark_square:hover {
    transform: scale(1.07); }
  .hero-btn-dark:active,
  .hero-btn-light:active,
  .hero-btn-dark_square:active {
    transform: scale(1.04); }

.hero-btn-light {
  background-color: #fff;
  color: #12468a;
  box-shadow: inset 0px 0px 0px 2px #12468a;
  transition: all 0.5s; }
  .hero-btn-light:hover {
    transform: scale(1.07);
    background-color: #d4deed; }
  .hero-btn-light:active {
    transform: scale(1.04);
    background-color: #d4deed; }

.hero-btn-dark_square {
  border-radius: 5px;
  margin-right: 1.5rem; }

.domainAccount {
  width: 60%; }
  @media only screen and (max-width: 30.5em) {
    .domainAccount {
      width: 85%; } }
  .domainAccount .card-white.payment-method {
    color: #265ca5; }
    .domainAccount .card-white.payment-method form label {
      color: #265ca5; }
    .domainAccount .card-white.payment-method input,
    .domainAccount .card-white.payment-method select {
      background-color: rgba(43, 92, 157, 0.36);
      color: #265ca5; }
      .domainAccount .card-white.payment-method input:focus, .domainAccount .card-white.payment-method input:valid,
      .domainAccount .card-white.payment-method select:focus,
      .domainAccount .card-white.payment-method select:valid {
        background-color: #d4deed;
        box-shadow: 0 0 0 0.8rem rgba(38, 92, 165, 0.56); }
      .domainAccount .card-white.payment-method input::placeholder,
      .domainAccount .card-white.payment-method select::placeholder {
        color: #265ca5; }
  .domainAccount-heading {
    position: relative;
    font-size: 1.9rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 45.7em) {
      .domainAccount-heading {
        margin-bottom: 2rem; } }
  .domainAccount-form_2 {
    display: flex;
    align-items: end;
    justify-content: left;
    gap: 2rem; }
    @media only screen and (max-width: 20.8em) {
      .domainAccount-form_2 {
        align-items: start;
        justify-content: left;
        flex-direction: column;
        gap: 0; } }
  .domainAccount-form_input {
    margin-top: 1.5rem; }
    @media only screen and (max-width: 30.5em) {
      .domainAccount-form_input {
        margin-top: 1rem;
        width: 100%; } }
    .domainAccount-form_input label {
      display: block;
      text-align: left;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
      color: #fff; }
    .domainAccount-form_input input,
    .domainAccount-form_input select {
      height: 100%;
      width: 100%;
      outline: none;
      padding: 1rem;
      font-size: 1.4rem;
      font-family: inherit;
      font-weight: 500;
      color: #265ca5;
      border: none;
      background-color: #e9eff6;
      border-radius: 9px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease; }
      .domainAccount-form_input input:focus,
      .domainAccount-form_input select:focus {
        background-color: #fff;
        box-shadow: 0 0 0 0.8rem rgba(212, 222, 237, 0.36); }
      .domainAccount-form_input input.error,
      .domainAccount-form_input select.error {
        background-color: #f4e0e0;
        box-shadow: 0 0 0 0.8rem rgba(255, 0, 0, 0.36); }
    .domainAccount-form_input .error-message {
      color: #f73109;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 0.5rem;
      background-color: #d4deed;
      width: max-content;
      padding: .2rem .5rem;
      margin-top: 1.2rem;
      display: none; }
      .domainAccount-form_input .error-message .error-icon {
        margin-right: 1rem; }
    .domainAccount-form_input select {
      width: max-content; }
    .domainAccount-form_input .wallet-name_usdt {
      margin-top: 2rem; }
  .domainAccount-form .hero-btn-dark,
  .domainAccount-form .hero-btn-light {
    margin: 2rem 1rem 2rem 0;
    padding: 1rem 2rem;
    font-size: inherit; }

.domain-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 30.5em) {
    .domain-header {
      margin-bottom: 4rem; } }

@media only screen and (max-width: 50.3em) {
  .domain .hero-btn-dark_square,
  .domain .hero-btn-light {
    font-size: 1.2rem; } }

.domain-button {
  margin-bottom: 1rem; }
  @media only screen and (max-width: 30.5em) {
    .domain-button {
      margin-bottom: 3rem; } }

.domain-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 30.5em) {
    .domain-input {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 2rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 20.8em) {
    .domain-input {
      margin-bottom: 4rem; } }
  .domain-input_group {
    display: flex;
    gap: 1rem;
    align-items: center; }
    @media only screen and (max-width: 20.8em) {
      .domain-input_group {
        display: block; } }
  .domain-input label {
    display: block;
    font-size: 1.6rem; }
  .domain-input input,
  .domain-input select {
    outline: none;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    color: #265ca5;
    border: none;
    background-color: #e9eff6;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; }
    .domain-input input:focus,
    .domain-input select:focus {
      background-color: #fff;
      box-shadow: 0 0 0 0.5rem rgba(212, 222, 237, 0.36); }
  .domain-input_select {
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 5px; }
    .domain-input_select option {
      padding: 5px;
      font-size: 15px;
      background-color: #fff;
      color: #333; }

@media only screen and (max-width: 50.3em) {
  .dnsModal {
    width: 85%;
    height: 75%;
    overflow-y: scroll; } }

.dnsModal.modal {
  overflow-y: auto;
  height: 75%; }
  @media only screen and (max-width: 50.3em) {
    .dnsModal.modal {
      padding: 6rem 2rem; } }

.dnsModal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem; }
  .dnsModal-header .icon-close {
    font-size: 2.4rem;
    padding: 1rem;
    cursor: pointer; }

.dnsModal-sub {
  margin-bottom: 1rem; }
  .dnsModal-sub-text {
    font-size: 1.6rem; }

.dnsModal-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
  text-align: center;
  /* Style alternate rows for better readability */ }
  .dnsModal-table-heading {
    font-size: 1.5rem;
    background-color: #265ca5;
    color: #fff;
    padding: .8rem;
    border: 2px solid #d4deed; }
  .dnsModal-table-data {
    padding: 1rem;
    border: 2px solid #d4deed;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    min-width: 4rem;
    word-wrap: break-word; }
    .dnsModal-table-data-icon {
      text-align: center; }
    .dnsModal-table-data a:not(:last-child) {
      margin-right: 3rem; }
    .dnsModal-table-data a .hero-btn-light {
      padding-right: 2rem; }
    .dnsModal-table-data a .icon {
      margin-right: 1rem; }
  .dnsModal-table-rows:nth-child(odd) {
    background-color: #265ca5;
    color: #fff; }

.dnsModal-info > *:not(:last-child) {
  margin-bottom: 1rem; }
  .dnsModal-info > *:not(:last-child) .hero-btn-light {
    font-size: inherit; }

.dnsModal-info_text {
  font-size: 1.4rem; }
  .dnsModal-info_text span {
    margin-right: 1rem; }

.dnsModal-info .icon {
  margin-right: 1rem; }

.dnsModal-text-link {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(253, 248, 248, 0.2);
  transition: color 0.3s, background-color 0.3s, border-bottom 0.3s, text-shadow 0.3s;
  border-bottom: 2px solid; }
  .dnsModal-text-link:hover {
    color: #0056b3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #007bff; }

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 5.8rem;
  width: 5.8rem;
  color: #fff; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

.main.no-scroll {
  overflow: hidden; }

@media only screen and (max-width: 50.3em) {
  .main-nav {
    display: none; }
  .btn-mobile-nav {
    display: block;
    z-index: 9999; }
  nav.sidebar {
    display: block;
    backdrop-filter: blur(2px);
    z-index: 100000;
    width: 150%;
    height: 100%;
    top: 0;
    left: -100;
    border-top-right-radius: 30px;
    border-right: 2px solid #fff;
    box-shadow: 0 1.2rem 3.2rem rgba(38, 93, 165, 0.388);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-4%) translateX(-100%);
    transition: all .3s ease-in; }
    nav.sidebar .sidebar-fixed {
      width: 90%; }
  body.no-scroll {
    overflow: hidden; }
  .navigation-header.nav-open + nav.sidebar {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0) translateY(0);
    left: 0;
    position: fixed;
    top: 0;
    max-width: 50%; } }
  @media only screen and (max-width: 50.3em) and (max-width: 25.5em) {
    .navigation-header.nav-open + nav.sidebar {
      max-width: 67%; } }

@media only screen and (max-width: 50.3em) {
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; }
  .main-nav-list {
    gap: 4.8rem;
    font-size: 1rem; }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem; } }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: rowOne-start / rowOne-end;
  overflow-y: auto;
  height: auto;
  width: 100%;
  background-image: linear-gradient(to right, rgba(43, 92, 157, 0.9), rgba(38, 92, 165, 0.9));
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      padding: 2rem 0; } }
  .sidebar-fixed {
    position: fixed; }
  .sidebar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem; }
    .sidebar-header-image {
      width: 8rem;
      height: 8rem;
      border-radius: 100%; }
    .sidebar-header-text {
      font-size: 1.9rem; }
  .sidebar .side-nav {
    font-size: 1.6rem;
    list-style: none;
    margin-top: 1rem; }
    .sidebar .side-nav_item {
      position: relative;
      padding: 5px 0;
      padding: 1rem 2rem;
      margin-left: 1rem;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      transition-property: color;
      transition-duration: 0.5s; }
      @media only screen and (max-width: 30.5em) {
        .sidebar .side-nav_item {
          padding: 1rem 0 1rem 1rem; } }
      .sidebar .side-nav_item::before {
        position: absolute;
        content: '';
        background-color: #12468a;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out; }
      .sidebar .side-nav_item:hover::before, .sidebar .side-nav_item.active::before, .sidebar .side-nav_item:active::before, .sidebar .side-nav_item:focus::before {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
    .sidebar .side-nav_link:link, .sidebar .side-nav_link:visited {
      color: white;
      text-decoration: none; }
      .sidebar .side-nav_link:link .icon, .sidebar .side-nav_link:visited .icon {
        margin-right: 2rem; }
        @media only screen and (max-width: 30.5em) {
          .sidebar .side-nav_link:link .icon, .sidebar .side-nav_link:visited .icon {
            margin-right: .5rem; } }

.addDomainOrAlias {
  padding: 2rem 6rem;
  z-index: 100; }
  @media only screen and (max-width: 75em) {
    .addDomainOrAlias {
      padding: 6rem 2rem; } }
  .addDomainOrAlias-heading {
    position: relative;
    font-size: 1.9rem; }
  .addDomainOrAlias form label {
    color: #fff; }
  .addDomainOrAlias-form_single {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 40rem; }
    @media only screen and (max-width: 30.5em) {
      .addDomainOrAlias-form_single {
        width: 30rem; } }
    @media only screen and (max-width: 20.8em) {
      .addDomainOrAlias-form_single {
        width: 22rem; } }
  .addDomainOrAlias-form_double {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem; }
    @media only screen and (max-width: 30.5em) {
      .addDomainOrAlias-form_double {
        gap: 2rem; } }
    @media only screen and (max-width: 20.8em) {
      .addDomainOrAlias-form_double {
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        align-items: start; } }
  .addDomainOrAlias-form_single label, .addDomainOrAlias-form_double label {
    display: block;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: #fff; }
  .addDomainOrAlias-form_single input,
  .addDomainOrAlias-form_single select, .addDomainOrAlias-form_double input,
  .addDomainOrAlias-form_double select {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 500;
    color: #265ca5;
    border: none;
    background-color: #e9eff6;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: auto; }
    .addDomainOrAlias-form_single input:focus,
    .addDomainOrAlias-form_single select:focus, .addDomainOrAlias-form_double input:focus,
    .addDomainOrAlias-form_double select:focus {
      background-color: #fff;
      box-shadow: 0 0 0 0.8rem rgba(212, 222, 237, 0.36); }
    .addDomainOrAlias-form_single input .error:focus,
    .addDomainOrAlias-form_single select .error:focus, .addDomainOrAlias-form_double input .error:focus,
    .addDomainOrAlias-form_double select .error:focus {
      box-shadow: 0 0 0 0.8rem rgba(212, 222, 237, 0.36); }
    .addDomainOrAlias-form_single input::placeholder,
    .addDomainOrAlias-form_single select::placeholder, .addDomainOrAlias-form_double input::placeholder,
    .addDomainOrAlias-form_double select::placeholder {
      color: #265ca5; }
  .addDomainOrAlias-form_single select, .addDomainOrAlias-form_double select {
    width: max-content; }
  .addDomainOrAlias-form .hero-btn-dark,
  .addDomainOrAlias-form .hero-btn-light {
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: inherit; }

.subscription-plan {
  margin-top: 2rem; }

.subscription .card-subscription {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  padding: .3rem;
  margin: 2rem 0; }

.subscription-heading {
  padding: 5rem; }

.subscription-info {
  padding: 5rem;
  color: #265ca5; }
  @media only screen and (max-width: 30.5em) {
    .subscription-info {
      padding: 4rem 2rem; } }
  .subscription-info_plan {
    font-size: 1.9rem;
    margin-bottom: 1rem; }
  .subscription-info_text {
    font-size: 1.5rem;
    font-weight: 600; }
    .subscription-info_text:not(:last-child) {
      margin-bottom: .5rem; }
  .subscription-info_payments .payments-heading {
    margin: 2rem 0 .6rem 0; }
    @media only screen and (max-width: 30.5em) {
      .subscription-info_payments .payments-heading {
        margin-bottom: 1rem; } }
  .subscription-info_payments .payments-btns a:not(:last-child) {
    margin-right: 1.5rem; }
  .subscription-info_payments .payments-btns .hero-btn-dark,
  .subscription-info_payments .payments-btns .hero-btn-light {
    font-size: 1.3rem; }
    @media only screen and (max-width: 62.5em) {
      .subscription-info_payments .payments-btns .hero-btn-dark,
      .subscription-info_payments .payments-btns .hero-btn-light {
        margin-bottom: .8rem; } }
  .subscription-info .list {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1rem 1rem 1rem; }
    .subscription-info .list-items:not(:last-child) {
      margin-bottom: .3rem; }

.navigation-header {
  background-image: linear-gradient(to right, #2b5c9d, rgba(38, 92, 165, 0.7));
  grid-column: 1/-1;
  grid-row: navigation-start / navigation-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 5.5rem;
  padding: 0 3rem; }
  .navigation-header .logo {
    height: 4rem; }
  .navigation-header .main-nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center; }
  .navigation-header .main-nav-link:link,
  .navigation-header .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem; }
    .navigation-header .main-nav-link:link::before,
    .navigation-header .main-nav-link:visited::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      height: 1px;
      width: 0px;
      background-color: #fff; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .main-nav-link:link,
      .navigation-header .main-nav-link:visited {
        font-size: 4rem; } }
  .navigation-header .main-nav-link:hover,
  .navigation-header .main-nav-link:active {
    transform: scale(1.1); }
    .navigation-header .main-nav-link:hover::before,
    .navigation-header .main-nav-link:active::before {
      transition: .3s;
      width: 100%; }
  .navigation-header .hero-btn-dark,
  .navigation-header .hero-btn-light {
    font-size: 1.4rem;
    padding: .5rem 1rem;
    margin-right: 0; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .hero-btn-dark,
      .navigation-header .hero-btn-light {
        font-size: 3.5rem;
        margin-top: 4rem; } }
  .navigation-header .main-nav-link.hero-btn-light {
    color: #12468a; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .main-nav-link.hero-btn-light {
        margin-top: 1.5rem; } }

.sticky .navigation-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-image: linear-gradient(to right, #265ca5, rgba(43, 92, 157, 0.93));
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(38, 93, 165, 0.388); }

.sticky .section-hero,
.sticky .section-login {
  margin-top: 5.5rem; }

.section-footer {
  background-image: linear-gradient(to right, rgba(43, 92, 157, 0.9), rgba(38, 92, 165, 0.9));
  grid-column: 2/3;
  grid-row: footer-start/ footer-end;
  padding: .5rem 1rem;
  height: max-content; }
  @media screen and (min-width: 1400px) {
    .section-footer {
      position: fixed;
      bottom: 0;
      right: 2rem;
      left: 19%; } }
  @media only screen and (max-width: 50.3em) {
    .section-footer {
      left: 2rem;
      grid-template-columns: 1fr 100% 1fr; } }
  @media only screen and (max-width: 30.5em) {
    .section-footer {
      position: relative;
      right: 0rem;
      left: 0rem; } }

.main-content-with-margin {
  margin-bottom: 100px;
  /* Adjust this value as needed */ }
  @media only screen and (max-width: 30.5em) {
    .main-content-with-margin {
      margin-bottom: 5rem; } }

.footer {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1rem; } }
  @media only screen and (max-width: 38.6em) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: .5rem; } }
  .footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
    @media only screen and (max-width: 62.5em) {
      .footer-image {
        grid-column: 1/-1; } }
  .footer-logo {
    height: 4rem; }
    .footer-logo:hover {
      color: #fff;
      transform: scale(1.1); }
  .footer-nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 20.8em) {
      .footer-nav-list {
        gap: 1.1rem; } }
  .footer-nav-link:link, .footer-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #d4deed;
    font-weight: 500;
    font-size: 1.8rem;
    position: relative; }
    @media only screen and (max-width: 20.8em) {
      .footer-nav-link:link, .footer-nav-link:visited {
        font-size: 1.6rem; } }
    .footer-nav-link:link::before, .footer-nav-link:visited::before {
      transition: all .3s;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      height: 1px;
      width: 0px;
      background-color: #fff; }
  .footer-nav-link:hover, .footer-nav-link:active {
    color: #fff;
    transform: scale(1.1); }
    .footer-nav-link:hover::before, .footer-nav-link:active::before {
      width: 100%; }
  .footer-socials {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    align-items: center;
    justify-content: center;
    gap: 1rem; }
    .footer-socials .social {
      font-size: 2.5rem;
      color: #fff;
      text-decoration: none; }

.social:hover .a,
.social .b {
  display: none; }

.social:hover .b {
  display: inline;
  font-size: 3.5rem; }

.subscription-plan {
  margin-top: 2rem; }

.subscription .card-subscription {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  padding: .3rem;
  margin: 2rem 0; }

.subscription-heading {
  padding: 5rem; }

.subscription-info {
  padding: 5rem;
  color: #265ca5; }
  @media only screen and (max-width: 30.5em) {
    .subscription-info {
      padding: 4rem 2rem; } }
  .subscription-info_plan {
    font-size: 1.9rem;
    margin-bottom: 1rem; }
  .subscription-info_text {
    font-size: 1.5rem;
    font-weight: 600; }
    .subscription-info_text:not(:last-child) {
      margin-bottom: .5rem; }
  .subscription-info_payments .payments-heading {
    margin: 2rem 0 .6rem 0; }
    @media only screen and (max-width: 30.5em) {
      .subscription-info_payments .payments-heading {
        margin-bottom: 1rem; } }
  .subscription-info_payments .payments-btns a:not(:last-child) {
    margin-right: 1.5rem; }
  .subscription-info_payments .payments-btns .hero-btn-dark,
  .subscription-info_payments .payments-btns .hero-btn-light {
    font-size: 1.3rem; }
    @media only screen and (max-width: 62.5em) {
      .subscription-info_payments .payments-btns .hero-btn-dark,
      .subscription-info_payments .payments-btns .hero-btn-light {
        margin-bottom: .8rem; } }
  .subscription-info .list {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1rem 1rem 1rem; }
    .subscription-info .list-items:not(:last-child) {
      margin-bottom: .3rem; }

.main {
  grid-column: main-start / main-end;
  grid-row: rowOne-start / rowOne-end;
  padding: 1.6rem;
  position: relative; }
  @media only screen and (max-width: 50.3em) {
    .main {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 25.5em) {
    .main {
      padding-top: 2.5rem; } }
  .main-heading {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 25.5em) {
      .main-heading {
        flex-direction: column-reverse;
        gap: 1rem; } }
    .main-heading_intro {
      margin-right: auto; }
    .main-heading_side {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 50.3em) {
        .main-heading_side .hero-btn-dark_square {
          font-size: 1.2rem; } }
  @media only screen and (max-width: 50.3em) and (max-width: 25.5em) {
    .main-heading_side .hero-btn-dark_square {
      margin-right: 0;
      font-size: 1rem; } }
      @media only screen and (max-width: 50.3em) {
        .main-heading_side h2 {
          font-size: 1.3rem; } }
  @media only screen and (max-width: 50.3em) and (max-width: 25.5em) {
    .main-heading_side h2 {
      font-size: 1rem; } }
      @media only screen and (max-width: 30.5em) {
        .main-heading_side {
          flex-direction: column;
          gap: .5rem;
          align-items: start; } }
      @media only screen and (max-width: 25.5em) {
        .main-heading_side {
          flex-direction: row;
          margin-left: auto; } }
  .main-welcome {
    font-size: 1.5rem;
    margin-right: auto; }
    @media only screen and (max-width: 25.5em) {
      .main-welcome {
        font-size: 1.6rem; } }
  .main-name {
    font-size: 2rem; }
    @media only screen and (max-width: 25.5em) {
      .main-name {
        font-size: 2.5rem; } }
  .main .card-dashboard {
    padding: 2rem 6rem;
    margin: 2rem 0; }
    @media only screen and (max-width: 62.5em) {
      .main .card-dashboard {
        margin: 4rem 0;
        padding: 6rem 2rem; } }
    @media only screen and (max-width: 30.5em) {
      .main .card-dashboard {
        padding: 3rem 2rem;
        margin-bottom: 6rem; } }
  .main .card-mini {
    padding: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%; }
  .main .card-wide {
    padding: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  @media only screen and (max-width: 25.5em) {
    .main .card-mini, .main .card-wide {
      padding: 3rem 1.5rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);
      gap: 4rem;
      width: 80%;
      justify-items: center; } }
  .main-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
    gap: 2rem; }
    @media only screen and (max-width: 30.5em) {
      .main-dashboard {
        gap: .5rem; } }
    @media only screen and (max-width: 25.5em) {
      .main-dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        gap: 3rem;
        align-items: center;
        justify-content: center; } }
    .main-dashboard_profile {
      margin-right: auto; }
      @media only screen and (max-width: 25.5em) {
        .main-dashboard_profile {
          justify-items: center;
          grid-column: 1/-1;
          grid-row: 2/3; } }
    .main-dashboard_image {
      grid-column: 2/3;
      display: grid;
      justify-content: end; }
      @media only screen and (max-width: 25.5em) {
        .main-dashboard_image {
          grid-column: 1/-1;
          grid-row: 1/2;
          justify-content: center; } }
      .main-dashboard_image .profile-image {
        height: 15rem;
        width: 15rem;
        border-radius: 31% 69% 63% 37% / 34% 28% 72% 66%; }
        @media only screen and (max-width: 30.5em) {
          .main-dashboard_image .profile-image {
            height: 10rem;
            width: 10rem; } }
        @media only screen and (max-width: 25.5em) {
          .main-dashboard_image .profile-image {
            height: 15rem;
            width: 15rem; } }
    .main-dashboard_text {
      font-size: 1.89em; }
      @media only screen and (max-width: 45.7em) {
        .main-dashboard_text {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 25.5em) {
        .main-dashboard_text {
          font-size: 1.9rem; } }
  .main-statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 62.5em) {
      .main-statistics {
        justify-items: center; } }
    .main-statistics .statistics-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      gap: 1rem; }
      .main-statistics .statistics-info_header {
        font-size: 1rem; }
      .main-statistics .statistics-info_lists {
        grid-column: 1/ -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 100%;
        gap: 1rem; }
        @media only screen and (max-width: 45.7em) {
          .main-statistics .statistics-info_lists {
            width: 100%; } }
        .main-statistics .statistics-info_lists-single {
          display: block; }
        .main-statistics .statistics-info_lists .lists-a {
          grid-column: 1/2; }
          @media only screen and (max-width: 25.5em) {
            .main-statistics .statistics-info_lists .lists-a {
              grid-column: 1/-1; } }
        .main-statistics .statistics-info_lists .lists-b {
          grid-column: 2/3; }
          @media only screen and (max-width: 25.5em) {
            .main-statistics .statistics-info_lists .lists-b {
              grid-column: 1/-1; } }
        .main-statistics .statistics-info_lists .lists .list {
          display: grid;
          grid-template-columns: 90% 10%;
          gap: .5rem;
          align-items: center; }
          .main-statistics .statistics-info_lists .lists .list:not(:last-child) {
            margin-bottom: 1rem; }
          .main-statistics .statistics-info_lists .lists .list-title {
            font-size: 1.6rem;
            list-style: none;
            grid-column: 1/2;
            word-wrap: break-word; }
          .main-statistics .statistics-info_lists .lists .list-icon {
            grid-column: 1/2; }
      .main-statistics .statistics-info .card.card-mini .statistics-info_lists {
        grid-column: 1/ -1;
        display: block; }

.progress-circle {
  width: 75px;
  height: 75px;
  position: relative;
  justify-self: center; }
  @media only screen and (max-width: 62.5em) {
    .progress-circle {
      margin-bottom: 3rem; } }
  .progress-circle .circle {
    fill: none;
    stroke: #ccc;
    /* Background color */
    stroke-width: 10;
    /* Thickness of the circle */
    transform: rotate(-90deg);
    /* Start from the top */
    transform-origin: center; }
  .progress-circle .bg-circle {
    stroke-opacity: 0.5;
    /* Opacity for the background circle */ }
  .progress-circle .progress {
    stroke: #d4deed;
    /* Progress color */
    stroke-dasharray: 0 283;
    /* Initial dash array (0% progress) */
    stroke-dashoffset: 0;
    /* Offset for animation */
    transition: stroke-dasharray 1s linear, stroke-dashoffset 1s linear; }
  .progress-circle .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    color: #d4deed; }

.section-login {
  background-image: linear-gradient(to right, #265ca5, rgba(43, 92, 157, 0.93)), url(../img/hero-image.svg);
  grid-column: 1/-1;
  grid-row: header-start/ header-end;
  padding: 8rem 2rem;
  display: grid;
  grid-template-columns: 1fr 100rem 1fr; }
  @media only screen and (max-width: 75em) {
    .section-login {
      grid-template-columns: 100%;
      grid-template-columns: 1fr 100% 1fr; } }
  @media only screen and (max-width: 50.3em) {
    .section-login {
      grid-template-columns: 100%; } }
  .section-login .login {
    grid-column: 2/3;
    margin: 0 auto;
    background-image: linear-gradient(to right, #265ca5, rgba(43, 92, 157, 0.93));
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    @media only screen and (max-width: 50.3em) {
      .section-login .login {
        grid-column: 1/-1; } }
    .section-login .login-cta {
      display: grid;
      grid-template-columns: 1.5fr 1fr; }
      @media only screen and (max-width: 50.3em) {
        .section-login .login-cta {
          grid-template-columns: 1fr; } }
      .section-login .login-cta-text_box {
        padding: 4.8rem 6.4rem 6.4rem 6.4rem; }
        @media only screen and (max-width: 50.3em) {
          .section-login .login-cta-text_box {
            grid-row: 2/3;
            margin-top: 2rem;
            padding: 4.8rem 3.4rem 6.4rem 3.4rem; } }
      .section-login .login-cta-image {
        background-image: linear-gradient(to right, rgba(38, 92, 165, 0.5), rgba(43, 92, 157, 0.5)), url(../img/login-image.png);
        background-size: cover;
        background-position: center; }
        @media only screen and (max-width: 50.3em) {
          .section-login .login-cta-image {
            grid-row: 1/2;
            height: 32rem; } }
    .section-login .login-heading {
      position: relative;
      font-size: 3rem;
      font-weight: 600;
      color: #fff; }
    .section-login .login-form {
      margin-top: 3rem; }
      .section-login .login-form_input {
        height: 5rem;
        margin: 7rem 0; }
        .section-login .login-form_input label {
          display: block;
          padding-left: 2rem;
          text-align: left;
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 1.2rem;
          color: #fff; }
        .section-login .login-form_input input {
          height: 100%;
          width: 100%;
          outline: none;
          padding: 1.5rem 2rem;
          font-size: 2.5rem;
          font-family: inherit;
          font-weight: 500;
          color: #265ca5;
          border: none;
          background-color: #e9eff6;
          border-radius: 9px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease; }
          .section-login .login-form_input input:focus, .section-login .login-form_input input:valid {
            background-color: #fff;
            box-shadow: 0 0 0 0.8rem rgba(212, 222, 237, 0.36); }
      .section-login .login-form .hero-btn-dark {
        padding: 1.5rem 2rem;
        margin-bottom: 1.5rem;
        font-size: 1.3rem; }
        .section-login .login-form .hero-btn-dark:hover {
          transform: scale(1.06); }
      .section-login .login-form-user_login {
        font-size: 1.5rem;
        color: #fff;
        text-align: left;
        font-weight: 400; }
        .section-login .login-form-user_login-link {
          color: #22b6d8;
          text-decoration: none;
          font-size: 1.8rem;
          font-weight: 600;
          position: relative; }
          .section-login .login-form-user_login-link::before {
            transition: all .3s;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            height: 1px;
            width: 0px;
            background-color: #22b6d8; }
          .section-login .login-form-user_login-link:hover::before {
            width: 100%; }

.nonSubscriber {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(1px);
  z-index: 10000; }

.notSubscribed {
  display: none;
  padding: 6rem;
  position: absolute;
  width: 50%;
  height: max-content; }
  @media only screen and (max-width: 43.3em) {
    .notSubscribed {
      padding: 6rem 2rem;
      width: 70%; } }
  .notSubscribed-heading {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center; }
    @media only screen and (max-width: 25.5em) {
      .notSubscribed-heading {
        font-size: 1.5rem; } }
  .notSubscribed-buttons {
    text-align: center; }
    .notSubscribed-buttons button {
      margin-right: 1rem;
      font-size: 1.5rem; }

.updateProfile .change-password {
  margin-bottom: 5rem; }

.updateProfile-header {
  margin-bottom: 2rem; }

.updateProfile-button {
  margin-bottom: 1rem; }
  @media only screen and (max-width: 30.5em) {
    .updateProfile-button {
      margin-bottom: 3rem; } }

.newPassword,
.appPassword {
  width: 60%; }
  @media only screen and (max-width: 30.5em) {
    .newPassword,
    .appPassword {
      width: 85%; } }
  .newPassword .card-white.payment-method,
  .appPassword .card-white.payment-method {
    color: #265ca5; }
    .newPassword .card-white.payment-method form label,
    .appPassword .card-white.payment-method form label {
      color: #265ca5; }
    .newPassword .card-white.payment-method input,
    .newPassword .card-white.payment-method select,
    .appPassword .card-white.payment-method input,
    .appPassword .card-white.payment-method select {
      background-color: rgba(43, 92, 157, 0.36);
      color: #265ca5; }
      .newPassword .card-white.payment-method input:focus, .newPassword .card-white.payment-method input:valid,
      .newPassword .card-white.payment-method select:focus,
      .newPassword .card-white.payment-method select:valid,
      .appPassword .card-white.payment-method input:focus,
      .appPassword .card-white.payment-method input:valid,
      .appPassword .card-white.payment-method select:focus,
      .appPassword .card-white.payment-method select:valid {
        background-color: #d4deed;
        box-shadow: 0 0 0 0.8rem rgba(38, 92, 165, 0.56); }
      .newPassword .card-white.payment-method input::placeholder,
      .newPassword .card-white.payment-method select::placeholder,
      .appPassword .card-white.payment-method input::placeholder,
      .appPassword .card-white.payment-method select::placeholder {
        color: #265ca5; }
  .newPassword-heading,
  .appPassword-heading {
    position: relative;
    font-size: 1.9rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 45.7em) {
      .newPassword-heading,
      .appPassword-heading {
        margin-bottom: 2rem; } }
  .newPassword-form_2,
  .appPassword-form_2 {
    display: flex;
    align-items: end;
    justify-content: left;
    gap: 2rem; }
    @media only screen and (max-width: 20.8em) {
      .newPassword-form_2,
      .appPassword-form_2 {
        align-items: start;
        justify-content: left;
        flex-direction: column;
        gap: 0; } }
  .newPassword-form_input,
  .appPassword-form_input {
    margin-top: 1.5rem; }
    @media only screen and (max-width: 30.5em) {
      .newPassword-form_input,
      .appPassword-form_input {
        margin-top: 1rem;
        width: 100%; } }
    .newPassword-form_input label,
    .appPassword-form_input label {
      display: block;
      text-align: left;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
      color: #fff; }
    .newPassword-form_input input,
    .newPassword-form_input select,
    .appPassword-form_input input,
    .appPassword-form_input select {
      height: 100%;
      width: 100%;
      outline: none;
      padding: 1rem;
      font-size: 1.4rem;
      font-family: inherit;
      font-weight: 500;
      color: #265ca5;
      border: none;
      background-color: #e9eff6;
      border-radius: 9px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease; }
      .newPassword-form_input input:focus,
      .newPassword-form_input select:focus,
      .appPassword-form_input input:focus,
      .appPassword-form_input select:focus {
        background-color: #fff;
        box-shadow: 0 0 0 0.8rem rgba(212, 222, 237, 0.36); }
      .newPassword-form_input input.error,
      .newPassword-form_input select.error,
      .appPassword-form_input input.error,
      .appPassword-form_input select.error {
        background-color: #f4e0e0;
        box-shadow: 0 0 0 0.8rem rgba(255, 0, 0, 0.36); }
    .newPassword-form_input .error-message,
    .appPassword-form_input .error-message {
      color: #f73109;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 0.5rem;
      background-color: #d4deed;
      width: max-content;
      padding: .2rem .5rem;
      margin-top: 1.2rem;
      display: none; }
      .newPassword-form_input .error-message .error-icon,
      .appPassword-form_input .error-message .error-icon {
        margin-right: 1rem; }
    .newPassword-form_input select,
    .appPassword-form_input select {
      width: max-content; }
    .newPassword-form_input .wallet-name_usdt,
    .appPassword-form_input .wallet-name_usdt {
      margin-top: 2rem; }
  .newPassword-form .hero-btn-dark,
  .newPassword-form .hero-btn-light,
  .appPassword-form .hero-btn-dark,
  .appPassword-form .hero-btn-light {
    margin: 2rem 1rem 2rem 0;
    padding: 1rem 2rem;
    font-size: inherit; }

@media only screen and (max-width: 43.3em) {
  .dnsModal .table-container {
    overflow-x: auto;
    max-width: 100%; } }

@media only screen and (max-width: 35.6em) {
  .table-container {
    overflow-x: auto;
    max-width: 100%; } }

.dnsModal-table,
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
  text-align: center; }
  @media only screen and (max-width: 35.6em) {
    .dnsModal-table,
    .table {
      width: auto;
      white-space: nowrap;
      table-layout: fixed; } }
  .dnsModal-table-heading,
  .table-heading {
    font-size: 1.4rem;
    background-color: #265ca5;
    color: #fff;
    padding: .8rem;
    border: 1px solid #d4deed; }
    @media only screen and (max-width: 35.6em) {
      .dnsModal-table-heading,
      .table-heading {
        position: sticky;
        top: 0; } }
  .dnsModal-table-data,
  .table-data {
    padding: 1rem;
    border: 1px solid #d4deed;
    font-size: 1.3rem;
    font-weight: 600;
    word-wrap: break-word;
    max-width: 20rem;
    white-space: normal;
    /* Style alternate rows for better readability */ }
    .dnsModal-table-data_text,
    .table-data_text {
      text-align: left;
      font-size: 1.5rem; }
    .dnsModal-table-data button:not(:last-child),
    .table-data button:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 62.5em) {
        .dnsModal-table-data button:not(:last-child),
        .table-data button:not(:last-child) {
          margin-right: 1rem; } }
      .dnsModal-table-data button:not(:last-child) .hero-btn-light,
      .table-data button:not(:last-child) .hero-btn-light {
        padding-right: 2rem; }
      .dnsModal-table-data button:not(:last-child) .icon,
      .table-data button:not(:last-child) .icon {
        margin-right: 1rem; }
    .dnsModal-table-data-rows:nth-child(odd),
    .table-data-rows:nth-child(odd) {
      background-color: #265ca5;
      color: #fff; }

@media only screen and (max-width: 43.3em) {
  .dnsModal .scroll-hint {
    display: block; } }

.scroll-hint {
  display: none;
  background-color: #eef1f6;
  padding: .1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  color: #12468a;
  width: max-content;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 35.6em) {
    .scroll-hint {
      display: block; } }
  .scroll-hint i {
    margin-right: 8px;
    font-size: 1.2rem;
    color: #007bff; }
