// COLOR VARIABLES
$color-primary: #265ca5;
$color-primary-light: #2b5c9d;
$color-secondary-light: #d4deed;
$color-secondary-dark: #22b6d8;
$color-grey-light-1: #fff;
$color-grey-light-2: #eef1f6;
$color-grey-dark-1: #12468a;
$color-grey-dark-2: #202c6c;
$color-grey-dark-3: #07155c;

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE VARIABLES
// RESPONSIVE VARIABLES
$bp-largest: 75em; //
$bp-larger: 62.5em; //
$bp-big: 50.3em; //
$bp-large: 45.7em; //
$bp-largeDns: 43.3em; //
$bp-medium: 38.6em; //
$bp-mid: 35.6em; //
$bp-small: 30.5em; //
$bp-small-extra: 25.5em; //
$bp-smaller: 20.8em; //

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;

   @media only screen and (max-width:$bp-largest) {
      font-size: 50%;
   }

   // @media only screen and (max-width:$bp-medium) {
   //    font-size: 47%;
   // }

   // @media only screen and (max-width:$bp-smaller) {
   //    font-size: 30%;
   // }
}

body {
   font-family: $font-primary;
   font-display: swap;
   color: $color-primary;
   font-weight: 300;
   line-height: 1.4;
}

.container {
   overflow-x: hidden;
   display: grid;
   grid-template-rows: [navigation-start] max-content [navigation-end rowOne-start] 1fr [rowOne-end footer-start] min-content [footer-end];

   grid-template-columns: [sidebar-start] 23% [sidebar-end main-start] 1fr [main-end];
   min-height: 100vh;

   @media screen and (max-width: 1200px) {
      grid-template-columns: [sidebar-start] 20% [sidebar-end main-start] 1fr [main-end];
      grid-template-rows: [navigation-start] max-content [navigation-end rowOne-start] minmax(100vh, 1fr) [rowOne-end footer-start] min-content [footer-end];
   }
}

.card {
   background-image: linear-gradient(111.4deg, rgba($color-primary-light, .75) 1%, rgba($color-grey-dark-1, .75) 58%), url(../img/image-1.jpg);
   background-size: cover;
   color: $color-grey-light-1;
   border: 1px solid #ddd;
   border-radius: 10px 35px 5px 35px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px
}

.card-white {
   background-image: linear-gradient(111.4deg, rgba($color-grey-light-1, .75) 1%, rgba($color-grey-light-2, .75) 58%), url(../img/image-1.jpg);
   background-size: cover;
   color: $color-grey-light-1;
   border: 1px solid #ddd;
   border-radius: 10px 35px 5px 35px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.inbox-card {
   background-image: linear-gradient(111.4deg, rgba($color-primary-light, .75) 1%, rgba($color-grey-dark-1, .75) 58%), url(../img/image-1.jpg);
   background-size: cover;
   color: $color-grey-light-1;
   // border: 1px solid #ddd;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
   padding: 2rem 2rem;
   margin: 2rem 0;
   width: 90%;
   // margin-right: auto;
}

.inbox-card-white {
   background-image: linear-gradient(111.4deg, rgba($color-grey-light-1, .75) 1%, rgba($color-grey-light-1, .75) 58%), url(../img/image-1.jpg);
   background-size: cover;
   color: $color-grey-light-1;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
   padding: 2rem 2rem;
   // margin: 2rem 0;
   width: 100%;
   // margin-right: auto;
}

.inbox-card.user {
   background-image: linear-gradient(111.4deg, rgba($color-grey-dark-2, .75) 1%, rgba($color-grey-dark-2, .75) 58%), url(../img/image-1.jpg);
   background-size: cover;
   color: $color-grey-light-1;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
   padding: 2rem 2rem;
   margin: 2rem 0;
   width: 90%;
   // margin-left: auto;
}

.modal {
   padding: 2rem 6rem;
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: max-content;
   max-width: 100rem;
   height: max-content;
   z-index: 10000;
   transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

   @media only screen and (max-width:$bp-large) {
      padding: 6rem 2rem;
   }


   &.active,
   &.openModal {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease-in-out, visibility .2s;
   }

}

.main.blur,
.sidebar.blur {
   backdrop-filter: blur(1px);
   filter: blur(1px);
}

.main.blur::before,
.sidebar.blur::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.46);
   z-index: 2222222;
}

.sidebar.blur {

   @media only screen and (max-width:$bp-big) {
      backdrop-filter: blur(0px);
      filter: none;
   }
}

.sidebar.blur::before {

   @media only screen and (max-width:$bp-big) {
      background-color: none;
   }
}