.main {
   grid-column: main-start / main-end;
   grid-row: rowOne-start / rowOne-end;
   padding: 1.6rem;

   @media only screen and (max-width:$bp-big) {
      grid-column: 1/-1;
   }

   @media only screen and (max-width:$bp-small-extra) {
      padding-top: 2.5rem;
   }

   &-heading {
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width:$bp-small-extra) {
         flex-direction: column-reverse;
         gap: 1rem;

      }

      &_intro {
         margin-right: auto;
      }

      &_side {
         display: flex;
         align-items: center;

         @media only screen and (max-width:$bp-big) {
            .hero-btn-dark_square {
               font-size: 1.2rem;

               @media only screen and (max-width:$bp-small-extra) {
                  margin-right: 0;
                  font-size: 1rem;
               }
            }

            h2 {
               font-size: 1.3rem;


               @media only screen and (max-width:$bp-small-extra) {
                  font-size: 1rem;
               }
            }
         }

         @media only screen and (max-width:$bp-small) {
            flex-direction: column;
            gap: .5rem;
            align-items: start;
         }


         @media only screen and (max-width:$bp-small-extra) {
            flex-direction: row;
            margin-left: auto;
         }
      }

      // &_update {
      //    background-image: linear-gradient(to right, rgba($color-primary-light, 1), rgba($color-grey-dark-1, 1));
      //    color: $color-grey-light-1;
      //    padding: 1rem;
      //    display: flex;
      //    gap: 4px;
      //    margin-right: 2rem;
      //    font-size: 1.3rem;

      //    @media only screen and (max-width:$bp-small-extra) {
      //       font-size: 1rem;
      //    }

      // }
   }

   &-welcome {
      font-size: 1.5rem;
      margin-right: auto;


      @media only screen and (max-width:$bp-small-extra) {
         font-size: 1.6rem;
      }
   }

   &-name {
      font-size: 2rem;

      @media only screen and (max-width:$bp-small-extra) {
         font-size: 2.5rem;
      }
   }

   .card {
      // .card css is found in the base scss file

      &-dashboard {
         padding: 2rem 6rem;
         margin: 2rem 0;


         @media only screen and (max-width:$bp-larger) {
            margin: 4rem 0;
            padding: 6rem 2rem;
         }

         @media only screen and (max-width:$bp-small) {
            padding: 3rem 2rem;
            margin-bottom: 6rem;
         }
      }

      &-mini {
         padding: 2rem;
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: repeat(2, 1fr);
         align-items: center;
         justify-content: center;
         gap: 1rem;
         width: 100%;

      }

      &-wide {
         padding: 2rem;
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: repeat(2, 1fr);
         align-items: center;
         justify-content: center;
         gap: 1rem;

      }

      &-mini,
      &-wide {
         @media only screen and (max-width:$bp-small-extra) {
            padding: 3rem 1.5rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            gap: 4rem;
            width: 80%;
            justify-items: center;
         }
      }
   }

   &-dashboard {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @media only screen and (max-width:$bp-small) {
         gap: .5rem;
      }

      @media only screen and (max-width:$bp-small-extra) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(2, max-content);
         gap: 3rem;
         align-items: center;
         justify-content: center;
      }

      &_profile {
         margin-right: auto;

         @media only screen and (max-width:$bp-small-extra) {
            justify-items: center;
            grid-column: 1/-1;
            grid-row: 2/3;
         }
      }

      &_image {
         grid-column: 2/3;
         display: grid;
         justify-content: end;

         @media only screen and (max-width:$bp-small-extra) {
            grid-column: 1/-1;
            grid-row: 1/2;
            justify-content: center;
         }

         .profile-image {
            height: 15rem;
            width: 15rem;

            border-radius: 31% 69% 63% 37% / 34% 28% 72% 66%;

            @media only screen and (max-width:$bp-small) {
               height: 10rem;
               width: 10rem;
            }

            @media only screen and (max-width:$bp-small-extra) {
               height: 15rem;
               width: 15rem;
            }
         }
      }

      &_text {
         font-size: 1.89em;

         @media only screen and (max-width:$bp-large) {
            font-size: 1.6rem;
         }

         @media only screen and (max-width:$bp-small-extra) {
            font-size: 1.9rem;
         }
      }
   }

   &-statistics {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
      gap: 2rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;


      @media only screen and (max-width:$bp-larger) {
         justify-items: center;
      }

      .statistics-info {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: repeat(2, 1fr);
         align-items: center;
         justify-content: center;
         gap: 1rem;

         &_header {
            font-size: 1rem;
         }

         &_lists {
            grid-column: 1/ -1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            width: 100%;
            gap: 1rem;

            @media only screen and (max-width:$bp-large) {
               width: 100%;
            }


            &-single {
               display: block;
            }

            .lists-a {
               grid-column: 1/2;

               @media only screen and (max-width:$bp-small-extra) {
                  grid-column: 1/-1;
               }
            }

            .lists-b {
               grid-column: 2/3;

               @media only screen and (max-width:$bp-small-extra) {
                  grid-column: 1/-1;
               }
            }

            .lists {

               .list {
                  display: grid;
                  grid-template-columns: 90% 10%;
                  gap: .5rem;
                  align-items: center;

                  &:not(:last-child) {
                     margin-bottom: 1rem;
                  }

                  &-title {
                     font-size: 1.6rem;
                     list-style: none;
                     grid-column: 1/2;
                     word-wrap: break-word;

                     @media only screen and (max-width:$bp-small-extra) {
                        // font-size: 1.3rem;
                     }
                  }

                  &-icon {
                     grid-column: 1/2;
                  }
               }
            }
         }

         .card.card-mini .statistics-info_lists {
            grid-column: 1/ -1;
            display: block;
         }
      }
   }
}

.progress-circle {
   width: 75px;
   height: 75px;
   position: relative;
   justify-self: center;


   @media only screen and (max-width:$bp-larger) {
      margin-bottom: 3rem;
   }


   .circle {
      fill: none;
      stroke: #ccc;
      /* Background color */
      stroke-width: 10;
      /* Thickness of the circle */
      transform: rotate(-90deg);
      /* Start from the top */
      transform-origin: center;
   }


   .bg-circle {
      stroke-opacity: 0.5;
      /* Opacity for the background circle */
   }

   .progress {
      stroke: $color-secondary-light;
      /* Progress color */
      stroke-dasharray: 0 283;
      /* Initial dash array (0% progress) */
      stroke-dashoffset: 0;
      /* Offset for animation */
      transition: stroke-dasharray 1s linear, stroke-dashoffset 1s linear;
   }

   .percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 15px;
      font-weight: bold;
      color: $color-secondary-light;
   }
}