.main {
    grid-column: main-start / main-end;
    grid-row: rowOne-start / rowOne-end;
    padding: 1.6rem;

    &-heading {
        display: flex;
        align-items: center;
        justify-content: center;

        &_intro {
            margin-right: auto;
        }

        &_date {
            background-image: linear-gradient(to right, rgba($color-primary-light, 1), rgba($color-grey-dark-1, 1));
            color: $color-grey-light-1;
            padding: 1.5rem;
            display: flex;
            gap: 4px;
        }
    }

    &-welcome {
        font-size: 2rem;
        margin-right: auto;
    }

    &-name {
        font-size: 4rem;
    }

    &-dashboard {
        background-image: linear-gradient(111.4deg, rgba($color-primary-light, .75) 1%, rgba($color-grey-dark-1, .75) 58%), url(../img/image-1.jpg);
        color: $color-grey-light-1;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 2rem 6rem;
        margin: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        display: flex;
        align-items: center;
        justify-content: center;

        &_profile {
            margin-right: auto;
        }

        &_image {

            .profile-image {
                height: 30rem;
                width: 30rem;
                border-radius: 31% 69% 63% 37% / 34% 28% 72% 66%
            }
        }

        p {
            font-size: 2.5rem;
        }

    }
}

/* styles.css */
.progress-circle {
    width: 100px;
    height: 100px;
    position: relative;
}

.circle {
    fill: none;
    stroke: #ccc;
    /* Background color */
    stroke-width: 10;
    /* Thickness of the circle */
    transform: rotate(-90deg);
    /* Start from the top */
    transform-origin: center;
}

.bg-circle {
    stroke-opacity: 0.5;
    /* Opacity for the background circle */
}

.progress {
    stroke: #007bff;
    /* Progress color */
    stroke-dasharray: 0 283;
    /* Initial dash array (0% progress) */
    stroke-dashoffset: 0;
    /* Offset for animation */
    transition: stroke-dasharray 1s linear, stroke-dashoffset 1s linear;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}