.subscription {
   &-plan {
      margin-top: 2rem;
   }

   .card-subscription {
      display: grid;
      grid-template-rows: repeat(2, min-content);

      padding: .3rem;
      margin: 2rem 0;
   }

   &-heading {
      padding: 5rem;
   }

   &-info {
      padding: 5rem;
      color: $color-primary;


      @media only screen and (max-width:$bp-small) {
         padding: 4rem 2rem;
      }


      &_plan {
         font-size: 1.9rem;
         margin-bottom: 1rem;
      }

      &_text {
         font-size: 1.5rem;
         font-weight: 600;

         &:not(:last-child) {
            margin-bottom: .5rem;
         }


      }

      &_payments {
         .payments-heading {
            margin: 2rem 0 .6rem 0;


            @media only screen and (max-width:$bp-small) {
               margin-bottom: 1rem;
            }

         }

         .payments-btns {
            & a {
               &:not(:last-child) {
                  margin-right: 1.5rem;
               }

            }

            .hero-btn-dark,
            .hero-btn-light {
               font-size: 1.3rem;


               @media only screen and (max-width:$bp-larger) {
                  margin-bottom: .8rem;
               }

            }

            ;
         }
      }

      .list {
         list-style: none;
         font-size: 1.5rem;
         font-weight: 500;
         margin: 0 1rem 1rem 1rem;

         &-items {
            &:not(:last-child) {
               margin-bottom: .3rem;
            }
         }
      }
   }
}