/* MOBILE */
.btn-mobile-nav {
   border: none;
   background: none;
   cursor: pointer;
   display: none;
}

.icon-mobile-nav {
   height: 5.8rem;
   width: 5.8rem;
   color: $color-grey-light-1;
}

.icon-mobile-nav[name="close-outline"] {
   display: none;
}


.main.no-scroll {
   overflow: hidden;
}

@media only screen and (max-width:$bp-big) {
   .main-nav {
      display: none;

   }

   .btn-mobile-nav {
      display: block;
      z-index: 9999;
   }

   nav.sidebar {
      display: block;
      backdrop-filter: blur(2px);
      z-index: 100000;

      width: 150%;

      height: 100%;
      top: 0;
      left: -100;
      border-top-right-radius: 30px;
      border-right: 2px solid $color-grey-light-1 ;
      box-shadow: 0 1.2rem 3.2rem rgba(38, 93, 165, 0.388);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-4%) translateX(-100%);
      transition: all .3s ease-in;


      & .sidebar-fixed {
         width: 90%;
      }
   }

   body.no-scroll {
      overflow: hidden;
   }

   .navigation-header.nav-open+nav.sidebar {
      display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0) translateY(0);
      left: 0;
      position: fixed;
      top: 0;
      max-width: 50%;

      @media only screen and (max-width:$bp-small-extra) {
         max-width: 67%;
      }
   }

   .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
   }

   .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
   }

   .main-nav-list {
      // flex-direction: column;
      gap: 4.8rem;
      font-size: 1rem;
   }

   .main-nav-link:link,
   .main-nav-link:visited {
      font-size: 3rem;
   }
}