.nonSubscriber {
   display: none;
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: red;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.46);
   backdrop-filter: blur(1px);
   z-index: 10000;
}

.notSubscribed {
   display: none;
   padding: 6rem;
   position: absolute;
   width: 50%;
   height: max-content;

   @media only screen and (max-width:$bp-largeDns) {
      padding: 6rem 2rem;
      width: 70%;
   }

   &-heading {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-align: center;


      @media only screen and (max-width:$bp-small-extra) {
         font-size: 1.5rem;
      }
   }

   &-buttons {
      text-align: center;

      button {
         margin-right: 1rem;
         font-size: 1.5rem;
      }
   }
}